<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tarsknock.dao.BlogTypeDao">

    <resultMap id="BlogTypeResult" type="BlogType">
        <result property="id" column="blogtype_id"/>
        <result property="typeName" column="type_name"/>
        <result property="orderNo" column="order_no"/>
        <result property="blogCount" column="blogCount"/>
    </resultMap>
    <select id="countList" parameterType="String" resultMap="BlogTypeResult">
        select t2.blogtype_id, t2.type_name, count(t1.article_id) as blogCount from t_blog t1
        right join t_blogtype t2 on t1.type_id=t2.blogtype_id group by t2.blogtype_id, t2.type_name
        order by t2.order_no
    </select>

    <select id="findById" parameterType="Integer" resultMap="BlogTypeResult">
        select * from t_blogtype where blogtype_id = #{id}
    </select>

    <select id="list" parameterType="Map" resultMap="BlogTypeResult">
        select * from t_blogtype
        <if test="typeName!=null and typeName!=''">
            where type_name=#{typeName}
        </if>
        <if test="start!=null and size!=null">
            limit #{start}, #{size}
        </if>
    </select>

    <select id="getTotal" parameterType="Map" resultType="Long">
        select count(*) from t_blogtype
    </select>

    <insert id="add" parameterType="BlogType">
        insert into t_blogtype(type_name, order_no) values (#{typeName},#{orderNo})
    </insert>

    <update id="update" parameterType="BlogType">
        update t_blogtype
        <set>
            <if test="typeName!=null and typeName!=''">
                type_name=#{typeName},
            </if>
            <if test="orderNo!=null and orderNo!=''">
                order_no=#{orderNo},
            </if>
        </set>
        where blogtype_id = #{id};
    </update>

    <delete id="delete" parameterType="Integer">
        delete from t_blogtype where blogtype_id = #{id}
    </delete>
</mapper>